//==============================================================================
// Palette of colours available to every SASS file.
// The palette() function can be used to retrieve color values using their name.
//==============================================================================


// Base
$app-colors: (
  material: (
    red:        #f44336,
    pink:       #e91e63,
    purple:     #9c27b0,
    deepPurple: #673ab7,
    indigo:     #3f51b5,
    blue:       #2196f3,
    lightBlue:  #03a9f4,
    cyan:       #00bcd4,
    teal:       #009688,
    green:      #4caf50,
    lightGreen: #8bc34a,
    lime:       #cddc39,
    yellow:     #ffeb3b,
    amber:      #ffc107,
    orange:     #ff9800,
    deepOrange: #ff5722,
    brown:      #795548,
    grey:       #9e9e9e,
    blueGrey:   #607d8b,
    black:      #212121,
    lightgrey:  #eee
  )
);



// Get a color from the $app-colors palette defined in _colors.scss
//
// @param {String} $palette
// @param {String} $tone
//
// @example scss - Usage
//   color: palette(social, gplus);
//
// @example css - CSS Output
//   color: #dc4437;
//
// @return {String}
//
@function palette($palette, $tone) {
  @return map-get(map-get($app-colors, $palette), $tone);
}
