//==============================================================================
// Normalisation (and bug-fixing) CSS rules. Inlined in the page.
//==============================================================================


// scss-lint:disable ImportPath
@import '../../@@bower@@/normalize-scss/_normalize.scss';

paper-menu a > *,
paper-menu paper-item > *,
paper-menu paper-icon-item > * {
  pointer-events: none;
}
