//==============================================================================
// Base typography rules and mixins, available to all SASS files.
//
// - font-family settings
// - font-sizes palette
// - font-weight mixins
// - responsive font-size mixin
// - utility functions: ellipsis, image-replacement
//
//==============================================================================

// Font families.
$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Open Sans' Helvetica, Arial, sans-serif;
$tertiary-font-family: Arial, sans-serif;

// Font size variables.
$font-size-x-small: 12;
$font-size-small: 15;
$font-size-regular: 16;
$font-size-large: 22;
$font-size-x-large: 25;
$font-size-xx-large: 28;
$font-size-xxx-large: 38;


// Font weights.
@mixin font-weight-bold {
  font-weight: 700;
}

@mixin font-weight-medium {
  font-weight: 500;
}

@mixin font-weight-normal {
  font-weight: 400;
}

@mixin font-weight-thin {
  font-weight: 100;
}


// Font sizes
@mixin font-size-x-small {
  font-size: rem($font-size-x-small);
  line-height: decimal-round(18 / $font-size-x-small, 1);
}

@mixin font-size-small {
  font-size: rem($font-size-small);
  line-height: decimal-round(19 / $font-size-small, 1);
}

@mixin font-size-regular {
  font-size: rem($font-size-regular);
  line-height: decimal-round(21 / $font-size-regular, 1);
}

@mixin font-size-large {
  font-size: rem($font-size-large);
  line-height: decimal-round(26 / $font-size-large, 1);
}

@mixin font-size-x-large {
  font-size: rem($font-size-x-large);
  line-height: decimal-round(28 / $font-size-x-large, 1);
}

@mixin font-size-xx-large {
  font-size: rem($font-size-xx-large);
  line-height: decimal-round(32 / $font-size-xx-large, 1);
}

@mixin font-size-xxx-large {
  font-size: rem($font-size-xxx-large);
  line-height: decimal-round(42 / $font-size-xxx-large, 1);
}



// Pass font sizes to set a responsive size, e.g:
// @include responsive-font-size($mobile: $font-size-small, $desktop: $font-size-large);
@mixin responsive-font-size($mobile: null, $phablet: null, $tablet: null, $desktop: null, $desktop-large: null) {
  @if ($mobile) {
    font-size: rem($mobile);
  }

  @if ($phablet) {
    @media #{$mq-tablet-small-up} {
      font-size: rem($phablet);
    }
  }

  @if ($tablet) {
    @media #{$mq-tablet-large-up} {
      font-size: rem($tablet);
    }
  }

  @if ($desktop) {
    @media #{$mq-desktop-small-up} {
      font-size: rem($desktop);
    }
  }

  @if ($desktop-large) {
    @media #{$mq-desktop-large-up} {
      font-size: rem($desktop-large);
    }
  }
}


// Utils

// Add an ellipsis to overflowing text
@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}


@mixin image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
