//==============================================================================
// Base document font size
//==============================================================================
$base-size: 16px !default;

//==============================================================================
// Assets paths
//==============================================================================
// scss-lint:disable
$image-folder-path: #{'@@images@@'};
// scss-lint:enable

//==============================================================================
// z-index main list
//==============================================================================
$app-z-indexes: background, content, navbar, drawer, lightbox;

$content-max-width-m: 320;
$content-max-width-phablet: 540;
$content-max-width-tablet: 700;
$content-max-width-desktop-small: 920;
$content-max-width-desktop-medium: 1200;
$content-max-width-desktop-large: 1360;
$content-max-width-desktop-x-large: 1360;



//==============================================================================
// Animation easing functions
//==============================================================================

$material-ease: cubic-bezier(.4, 0, .2, 1);

// Cubic
$timing-function-ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
$timing-function-ease-out-cubi: cubic-bezier(.215, .61, .355, 1);
$timing-function-ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);

// Circ
$timing-function-ease-in-circ: cubic-bezier(.6, .04, .98, .335);
$timing-function-ease-out-circ: cubic-bezier(.075, .82, .165, 1);
$timing-function-ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

// Expo
$timing-function-ease-in-expo: cubic-bezier(.95, .05, .795, .035);
$timing-function-ease-out-expo: cubic-bezier(.19, 1, .22, 1);
$timing-function-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

// Quad
$timing-function-ease-in-quad: cubic-bezier(.55, .085, .68, .53);
$timing-function-ease-out-quad: cubic-bezier(.25, .46, .45, .94);
$timing-function-ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);

// Quart
$timing-function-ease-in-quart: cubic-bezier(.895, .03, .685, .22);
$timing-function-ease-out-quar: cubic-bezier(.165, .84, .44, 1);
$timing-function-ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);

// Quint
$timing-function-ease-in-quint: cubic-bezier(.755, .05, .855, .06);
$timing-function-ease-out-quin: cubic-bezier(.23, 1, .32, 1);
$timing-function-ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);

// Sine
$timing-function-ease-in-sine: cubic-bezier(.47, 0, .745, .715);
$timing-function-ease-out-sine: cubic-bezier(.39, .575, .565, 1);
$timing-function-ease-in-out-sine: cubic-bezier(.445, .05, .55, .95);

// Back
// scss-lint:disable LeadingZero
$timing-function-ease-in-back: cubic-bezier(.6, -0.28, .735, .045);
$timing-function-ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
$timing-function-ease-in-out-back: cubic-bezier(.68, -0.55, .265, 1.55);
// scss-lint:enable LeadingZero

// Material design
$timing-function-fast-out-slow-in: cubic-bezier(.4, 0, .2, 1) !default;
$timing-function-linear-out-slow-in: cubic-bezier(0, 0, .2, 1) !default;
$timing-function-fast-out-linear-in: cubic-bezier(.4, 0, 1, 1) !default;

$timing-function-default: $timing-function-fast-out-slow-in !default;
